.flash { height: 1.7em; }
.flash-enter { height: 0; }
.flash-enter-active { height: 1.7em; }
.flash-leave { height: 1.7em; }
.flash-leave-active { height: 0; }

/*.bottom-bar { top: 0; }*/
.bottom-bar-enter { top: 100px; }
.bottom-bar-enter-active { top: 0; }
.bottom-bar-leave { top: 0; }
.bottom-bar-leave-active { top: 100px; }
