body {
  background: #3498db;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

input { border: 1px solid #CECECE; }
a, button, input, textarea { outline: none; }
a { text-decoration: none; }
button { border: none; }

.contents-actions { opacity: 0; }
li:hover > .contents-actions { opacity: 1; }
