body {
  background: #3498db;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1, h2, h3, h4 {
  color: #2c3e50
}

input { border: 1px solid #CECECE; }

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

textarea {
  outline: none;
}

.breadcrumb { display: block; }
@media (min-width: 700px) {
  .breadcrumb { display: inline-block; }
}

.flash { height: 1.7em; }
.flash-enter { height: 0; }
.flash-enter.flash-enter-active { height: 1.7em; }
.flash-leave { height: 1.7em; }
.flash-leave.flash-leave-active { height: 0; }

.save-bar { top: 0; }
.save-bar-enter { top: 100px; }
.save-bar-enter.save-bar-enter-active { top: 0; }
.save-bar-leave { top: 0; }
.save-bar-leave.save-bar-leave-active { top: 100px; }